.page-enter {
  opacity: 0;
  transform: translateX(20px);
}
.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
.page-exit {
  opacity: 1;
  transform: translateX(0);
}
.page-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}